.presentacion{
    background-color: #222e50;
    box-sizing: border-box;
    background-size: cover;
    height: 100%;
    
    position:absolute;
    color: white;
    display: flex;
  }
  #vid{
    border-radius: 15px;
    border: white solid 2px;
    
  }
  #parrafos{
    margin: 5px;
    margin-left: 30px;
    border-radius: 10px;
    width: 35%;
    
    padding: 20px;
    background: linear-gradient(
        rgb(119, 0, 255),
        rgba(41, 6, 94, 0.814)
    );
    color: white;
  }
  .cuadro7{
    margin: 5px;
    margin-left: 30px;
    border-radius: 10px;
    width: 35%;
    
    padding: 20px;
    background: linear-gradient(
        rgb(119, 0, 255),
        rgba(41, 6, 94, 0.814)
    );
    color: white;
  
  }
  