.fon{
  background: linear-gradient(
    rgb(119, 0, 255),
    rgba(41, 6, 94, 0.814)
);
    height: 230px;
    box-sizing: border-box;
    background-size: cover;
}
.botones{
    text-align: left;
    margin-left: 118px;
}
#boton1{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: white solid 2px;
    padding: 10px;
    margin: 9px;
    
  }
  h3{
    text-align: center;
    padding: 0px;
  }
  