.fon{
    background-color: rgb(119, 0, 255);
    height: 300px;
}
.botones{
    text-align: left;
    margin-left: 160px;
}
#boton1{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: white solid 2px;
    padding: 10px;
    margin: 10px;
    margin-left: 100px;
  }
  #boton2{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: white solid 2px;
    padding: 10px;
    margin: 10px;
    
  }
  #boton3{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: white solid 2px;
    padding: 10px;
    margin: 10px;
  }