.blue{
    background-color: #222e50;
}
.azul{
    background-color: #222e50;
    margin-top: 0%;
    
    box-sizing: border-box;
    background-size: cover;
    display: grid;
}
.cuadro1{
    margin-left: 100px;
    border-radius: 10px;
    width: 70%;
    padding: 60px;
    color: white;
    background: linear-gradient(
        rgb(119, 0, 255),
        rgba(41, 6, 94, 0.814)
    );
}
#boton6{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: white solid 2px;
    padding: 10px;
    margin: 10px;
}
ul{
    list-style-type: none;
    margin-top: 0%;
    
}
#imaaa{
    border-radius: 9px;
}