
.cuadro1{
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
    padding: 60px;
    color: white;
    background: linear-gradient(
        rgb(119, 0, 255),
        rgba(41, 6, 94, 0.814)
    );
}
#boton6{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: white solid 2px;
    padding: 10px;
    margin: 10px;
}
ul{
    list-style-type: none;
}
#imaaa{
    border-radius: 9px;
}