.todo{
  background-color: rgb(119, 0, 255);
  
}
.todox{
    
    background-color: rgb(119, 0, 255);
    margin-left: 90px;
    box-sizing: border-box;
    background-size: cover;
    display: grid;
}