.fond{
    
    background-color: rgb(119, 0, 255);
    
  }
  .fondo{
    width: 90%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-repeat:no-repeat;
    border: aqua solid 6px;
    border-radius: 10px;
    margin-top: 0px;
    background-size: cover;
    margin-left: 90px;
    
  }
  .background-image{
    width: 50%;
    height: 500px;
    
    position: relative;
    left: 0px;
    
  }
  #fondo2{
    
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    
  }
  .collage-img{
    
    width: 251%;
    height: 500px;
    padding-right: 10%;
    position: relative;
    right: 200px;
    
  }
  