.todo{
  background-color: rgb(119, 0, 255);
  flex-direction: column;
  box-sizing: border-box;
}
.todox{
    
    background-color: rgb(119, 0, 255);
    margin-left: 100px;
    
    background-size: cover;
    margin-top: 0%;
}