.looo{
    background-color: #222e50;
    position:absolute;
    
    height: 100%;
    
    color: white;
    box-sizing: border-box;
    background-size: cover;
    display: grid;
  }
  #lg{
    height: 600px;
    width: 25%;
    margin: 870px;
    margin-left: 500px;
    text-align: center;
    margin-top: 80px;
    border-radius: 10px;
    display: grid;
    padding: 60px;
    background: linear-gradient(
        rgb(119, 0, 255),
        rgba(41, 6, 94, 0.814)
    );
  }
  #boton8{
    border-radius: 6px;
    background-color:rgb(59, 59, 234);
    color:white;
    outline:auto;
    padding: 5px;
  }
  #boton8:hover{
    background-color:#222e50;
  }
  .red{
    border-radius: 7px;
    outline:auto;
  
  }