.datosss{
  background-color: #222e50;
  position:absolute;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 1600px;
  
}
  .datos{
    width: 500px;
    
    background-color: rgb(119, 0, 255);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-left: 500px;
    margin-top: 50px;
    line-height: 1.5;
  
  }
  
  h3{
    padding: 20px;
    text-align: center;
    color: black;
  }
  .redondo{
    border-radius: 10px;
    outline:auto;
    size: xx-large;
  }
  #col{
    background-color:lightblue;
    border-radius: 10px;
    outline:auto;
    margin: 20px;
  }
  
  #boton5{
    border-radius: 6px;
    background-color:rgb(59, 59, 234);
    color:white;
    outline:auto;
    padding: 5px;
  }
  #boton5:hover{
    background-color:#222e50;
  }
  